nav a{
	border-radius:25px;
	display:inline-block;
	width:100px;
	margin:10px;
	padding:10px;
	background-color:darkred;
	color:Black;
	text-align: centre;
}
body{
	background-color:black;
	color:darkred;
	font-family:Bahnschrift SemiBold Condensed;
	font-size:200%;
	text-align: centre;
}
nav a:hover{background-color:red;
}
img{
	border: 100px solid darkred;
  padding: 15px;
}
